<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
    body{
        background-color: #f0f0d8;
        padding: 0;
        font-family: sans-serif;
    }
    .header-menu{
        background-color:  #607848;
        border: 1px solid black;
    }

    .container{
        padding:10px;
    }

    .card{
        background-color: #607848;
        border: 1px solid black;
    }
    .footer-menu {
        border: 1px solid black;
        background-color:  #604848;
    }

.color1 { #607848 };
.color2 { #789048 };
.color3 { #c0d860 };
.color4 { #f0f0d8 };
.color5 { #604848 };
</style>
</head>
<body>
<header>
    <div class="header-menu">
        Header
    </div>
</header>
<content>
    <div class="container">
        <div id="publicidade" style="display: flex; flex-direction: row; padding: 10px;">
            <div style="display: flex; flex-direction: column;" >
                <a th:href="${publicidade.link}">
                    <img th:src="${publicidade.img}" style="max-width: 200px; padding: 5px;">
                </a>
                <a th:href="${publicidade.link}">
                    <img th:src="${publicidade.afiliado}" style="width: 75px; height: 35px; padding: 5px;">
                </a>
            </div>
            <div style="display: flex; flex-direction: row;">
                <a th:href="${publicidade.link}" style="text-decoration: none;">
                    <h1 th:text="${publicidade.product}" style="color:blue;font-size: 20px;margin-left: 15px"></h1>
                    <h1 th:text="${publicidade.preco}"   style="color:green;margin-left: 15px" ></h1>
                </a>
            </div>
        </div>
        <div class="cards" >
            <div style="display:flex; flex-direction: row; flex-flow: row wrap;"  >
                <div style="display:flex; flex-direction: column; background-color: #607848;
                border-left: 15px solid #d37719; border-radius: 20px; padding: 10px; margin:10px; width: 450px" th:each="pokemonItemCard : ${listPokemon}" >
                    <div class="card_new">
                        <div style="display:flex; flex-direction: row; flex-flow: row wrap;"  >
                            <div style="display:flex; flex-direction: column;width:100px;">
                                <h1 th:text="${pokemonItemCard.pokemonName}" style="margin-left:15px;font-size: 25px; font-weight: bold;color: #324905" >Pokemon</h1>
                                <a th:if="${pokemonItemCard.pokemonName != 'Novo'}" th:href="${pokemonItemCard.pokemonName}"
                                   th:alt="${pokemonItemCard.pokemonName}">
                                    <div style="width: 93px; height: 93px; background-color: #789048; border-radius: 50%;margin-left: 15px;">
                                        <img style="width: 93px; height: 93px; "
                                             th:src="${pokemonItemCard.pokemonImg}" th:alt="${pokemonItemCard.pokemonName}">
                                    </div>
                                </a>
                                <a th:if="${pokemonItemCard.pokemonName == 'Novo'}" th:href="@{'/new/'+${pokemonItemCard.id}}"
                                   th:alt="${pokemonItemCard.pokemonName}">
                                    <div style="width: 93px; height: 93px; background-color: #789048; border-radius: 50%;margin-left: 15px;">
                                        <img style="width: 93px; height: 93px;"
                                             width="93" height="93"
                                             th:src="${pokemonItemCard.pokemonImg}" th:alt="${pokemonItemCard.pokemonName}">
                                    </div>
                                </a>
                            </div>
                            <div style="display:flex; flex-direction: column; padding: 10px">
                                <div style="height: 24px;"></div>
                                <div style="display:flex; flex-direction: row; justify-content: space-between; padding: 10px;margin-right: 15px;">
                                    <h1 style="color:#324905;font-size: 13px; font-weight: bold;">HP:</h1>
                                    <div th:if="${pokemonItemCard.hp > 0}" style="width: 200px; background-color: #FFFFFF;height:24px;border-radius: 10px;margin-left: 15px;">
                                        <div th:style="'background-color:#cfcf35; height:24px;border-radius: 10px;width:' + ${pokemonItemCard.hp} + '%'"></div>
                                    </div>
                                    <div th:if="${pokemonItemCard.hp == null}" style="width:  200px; background-color: #FFFFFF;height:24px;border-radius: 10px;margin-left: 15px;">
                                        <div th:style="'font-size: 13px;text-align: center; vertical-align: middle; background-color:#cfbaba; height:24px; border-radius: 10px;width:100%'"></div>
                                    </div>

                                </div>
                                <div style="display:flex; flex-direction: row; justify-content: space-between; padding: 10px;margin-right: 15px;">
                                    <h1 style="color:#324905;font-size: 13px; font-weight: bold;">Defense:</h1>
                                    <div th:if="${pokemonItemCard.defense > 0}" style="width:  200px; background-color: #FFFFFF;height:24px;border-radius: 10px;margin-left: 15px;">
                                        <div th:style="'background-color:#41bd41; height:24px;border-radius: 10px;width:' + ${pokemonItemCard.defense} + '%'"></div>
                                    </div>
                                    <div th:if="${pokemonItemCard.defense == null}" style="width:  200px; background-color: #FFFFFF;height:24px;border-radius: 10px;margin-left: 15px;">
                                        <div th:style="'font-size: 13px;text-align: center; vertical-align: middle; background-color:#cfbaba; height:24px; border-radius: 10px;width:100%'"></div>
                                    </div>
                                </div>
                                <div style="display:flex; flex-direction: row; justify-content: space-between; padding: 10px;margin-right: 15px;">
                                    <h1 style="color:#324905;font-size: 13px; font-weight: bold;">Attack:</h1>
                                    <div th:if="${pokemonItemCard.attack > 0}" style="width: 200px; background-color: #FFFFFF;height:24px;border-radius: 10px;margin-left: 15px;">
                                        <div th:style="'background-color:#c33a3a; height:24px;border-radius: 10px;width:' + ${pokemonItemCard.attack} + '%'"></div>
                                    </div>
                                    <div th:if="${pokemonItemCard.attack == null}" style="width:  200px; background-color: #FFFFFF;height:24px;border-radius: 10px;margin-left: 15px;">
                                        <div th:style="'font-size: 13px;text-align: center; vertical-align: middle; background-color:#cfbaba; height:24px; border-radius: 10px;width:100%'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" th:each="pokemonItem : ${listPokemon}">
                <div class="media mt-2 ml-2 p-2 bg-dark">
                    <div class="media-img my-auto">
                        <a th:if="${pokemonItem.pokemonName != 'Novo'}" th:href="${pokemonItem.pokemonName}"
                           th:alt="${pokemonItem.pokemonName}">
                            <img class="mr-3 rounded-circle bg-light my-auto"
                                 width="93" height="93"
                                 th:src="${pokemonItem.pokemonImg}" th:alt="${pokemonItem.pokemonName}">
                        </a>
                        <a th:if="${pokemonItem.pokemonName == 'Novo'}" th:href="@{'/new/'+${pokemonItem.id}}"
                           th:alt="${pokemonItem.pokemonName}">
                            <img class="mr-3 rounded-circle bg-light"
                                 width="93" height="93"
                                 th:src="${pokemonItem.pokemonImg}" th:alt="${pokemonItem.pokemonName}">
                        </a>
                    </div>
                    <div class="media-body mb-2">
                        <h2 class="pt-2" th:text="${pokemonItem.pokemonName}">Pontos de vida:</h2>
                        <div>
                            HP:
                            <div class="progress">
                                <div class="progress-bar bg-success"
                                     th:style="'width: ' + ${pokemonItem.hp} + '%'"
                                     th:aria-valuenow="${pokemonItem.hp}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div>
                            VELOCIDADE:
                            <div class="progress">
                                <div class="progress-bar bg-info"
                                     th:style="'width: ' + ${pokemonItem.speed} + '%'"
                                     th:aria-valuenow="${pokemonItem.speed}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div>
                            ATAQUE:
                            <div class="progress">
                                <div class="progress-bar bg-danger"
                                     th:style="'width: ' + ${pokemonItem.attack} + '%'"
                                     th:aria-valuenow="${pokemonItem.attack}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div>
                            DEFESE:
                            <div class="progress">
                                <div class="progress-bar bg-warning"
                                     th:style="'width: ' + ${pokemonItem.defense} + '%'"
                                     th:aria-valuenow="${pokemonItem.defense}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</content>
<footer>
    <div class="footer-menu">
        <h1>Footer</h1>
    </div>
</footer>
</body>
</html>