<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Pokemon: '+${pokemon.pokemonName}">Title</title>
    <style>
    body{
        background-color: #f0f0d8;
        padding: 0;
        font-family: sans-serif;
    }
    .header-menu{
        background-color:  #607848;
        border: 1px solid black;
    }

    .container{
        padding:10px;
    }

    .card{
        background-color: #607848;
        border: 1px solid black;
    }
    .footer-menu {

    }

.color1 { #607848 };
.color2 { #789048 };
.color3 { #c0d860 };
.color4 { #f0f0d8 };
.color5 { #604848 };
</style>
</head>
<body>
<header>
    <div  style=" height: 250px; background-color: #607848; border-radius: 20px; padding: 10px;border-left: 10px solid #d37719;border-right: 10px solid #d37719;" >
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-content: center;">
            <div style="background-color: #789048;border-radius: 50%;">
                <img style="max-width: 200px;" th:src="${pokemon.pokemonImg}" th:alt="${pokemon.pokemonName}">
            </div>
            <div>
                <h1  style="font-weight: 400; font-family: fantasy; text-shadow: 2px 2px #000000; color:#d37719;font-size: 40px;"
                th:text="'PokeSite:  '+${pokemon.pokemonName}"
                ></h1>
            </div>
            <div style="background-color: #789048;border-radius: 50%;">
                <img style="max-width: 200px;" th:src="${pokemon.pokemonImg}" th:alt="${pokemon.pokemonName}">

            </div>
        </div>
    </div>

</header>
<content>
    <div class="container">
        <div style="display: flex; flex-direction: row; justify-content: center;"  >
            <div id="publicidadeContainer" style="display: flex;flex-flow: row wrap; flex-direction: row; padding: 10px;"   >
                <div id="publicidade" style="display: flex; flex-direction: row; padding: 10px;"   th:each="publicidade : ${publicidadeList}" >
                    <div style="display: flex; flex-direction: column;" >
                        <a th:href="${publicidade.link}">
                            <img th:src="${publicidade.img}" style="max-width: 200px; padding: 5px;">
                        </a>
                        <a th:href="${publicidade.link}">
                            <img th:src="${publicidade.afiliado}" style="width: 75px; height: 35px; padding: 5px;">
                        </a>
                    </div>
                    <div style="display: flex; flex-direction: row;">
                        <a th:href="${publicidade.link}" style="text-decoration: none;">
                            <h1 th:text="${publicidade.product}" style="color:#af2f22;font-size: 20px;margin-left: 15px;width:300px;"></h1>
                            <h1 th:text="${publicidade.preco}"   style="color:#060cb5;margin-left: 15px;width:300px;" ></h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="caracteristicas" >

            <div style="display:flex; flex-direction: column; flex-flow: row wrap; align-items: flex-start; justify-content: center; width: 100%;"  >

                <div style="display:flex; flex-direction: row; flex-flow: column wrap; justify-content: center; width: 50%; aling-items: top;"  >
                    <div style="display:flex; flex-direction: column; align-items: center; background-color: #607848; border-left: 15px solid #d37719; border-radius: 20px; padding: 10px; margin:10px; "  >
                        <div>
                            <h1  style="font-weight: 400; font-family: fantasy; text-shadow: 2px 2px #000000; color:#d37719;font-size: 40px; margin-left: 15px;"
                             th:text="${pokemon.pokemonName}" ></h1>
                        </div>
                        <div style="background-color: #789048;border-radius: 50%;">
                            <img style="max-width: 500px;" th:src="${pokemon.pokemonImg}" th:alt="${pokemon.pokemonName}">
                        </div>
                    </div>

                    <div style="display:flex; flex-direction: row; flex-flow: row wrap; align-items: center; background-color: #607848; border-left: 15px solid #d37719; border-radius: 20px; padding: 10px; margin:10px; "  >
                        <div style="display:flex; flex-direction: row; flex-flow: row wrap; align-items: center;">
                            <h1  style="font-weight: 400; font-family: fantasy; text-shadow: 2px 2px #000000; color:#d37719;font-size: 20px; margin-left: 15px;"
                                  >Galeria de arte:</h1>
                        </div>
                        <div style="display:flex; flex-direction: row; flex-flow: row wrap; padding:10px;     justify-content: space-between; align-content: space-between;margin-top: 10px" >
                            <div  style="background-color: #4ea360;border-radius: 50%; padding: 10px; margin:10px; width: 100px; height: 100px;" th:each="img : ${pokemon.imgs}" th:if="${img}" >
                                <img th:src="${img}" width="100" height="100" >
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:flex; flex-direction: row; align-items: center; justify-content: top; "  >

                    <div style="display:flex; flex-direction: column; background-color: #607848; border-left: 15px solid #d37719; border-radius: 20px; padding: 10px; margin:10px;"  >
                        <div style="display:flex; flex-direction: row; border-left: 15px solid #929991; border-radius: 20px; padding: 10px; margin:10px; ">
                            <div style="display:flex;background-color:#929991;border-radius: 50%;">
                                <img th:src="@{/imgs/weight_icon.png}" style="max-width: 100px;">
                            </div>
                            <div style="display:flex;padding:20px;">
                                <h3 style="font-size: 20px;font-weight: 800; color:#000000; font-family: fantasy;">
                                    Peso:
                                    <span th:text="${pokemon.weight}" style="font-size: 20px;font-weight: 1000; color:#1f251e; font-family: fantasy; text-shadow: 2px 2px #000000;"></span>
                                    KG
                                </h3>
                            </div>
                        </div>
                        <div style="display:flex; flex-direction: row; border-left: 15px solid #b423ef; border-radius: 20px; padding: 10px; margin:10px; width: 450px">
                            <div style="background-color: #b423ef;border-radius: 50%;">
                                <img th:src="@{/imgs/height_icon.png}" style="max-width: 100px;">
                            </div>
                            <div style="display:flex;padding:20px;">
                                <h3 style="font-size: 20px;font-weight: 800; color:#000000; font-family: fantasy;">
                                    Altura:
                                    <span th:text="${#numbers.formatDecimal((pokemon.height/3.4), 1, 'DEFAULT', 2, 'DEFAULT')}" style="font-size: 20px;font-weight: 1000; color:#b423ef; font-family: fantasy; text-shadow: 2px 2px #000000;"></span>
                                    M
                                </h3>
                            </div>
                        </div>
                        <div style="display:flex; flex-direction: row; border-left: 15px solid #21af10; border-radius: 20px; padding: 10px; margin:10px; width: 450px">
                            <div style="background-color: #21af10;border-radius: 50%;">
                                <img th:src="@{/imgs/health_icon.png}" style="max-width: 100px;">
                            </div>
                            <div style="display:flex;padding:20px;">
                                <h3 style="font-size: 20px;font-weight: 800; color:#000000; font-family: fantasy;">
                                    Vida:
                                    <span th:text="${pokemon.hp}" style="font-size: 20px;font-weight: 1000; color:#21af10; font-family: fantasy; text-shadow: 2px 2px #000000;"></span>
                                    PTS
                                </h3>
                            </div>
                        </div>

                        <div style="display:flex; flex-direction: row; border-left: 15px solid #ed5959; border-radius: 20px; padding: 10px; margin:10px; width: 450px">
                            <div style="background-color: #ed5959;border-radius: 50%;">
                                <img th:src="@{/imgs/attack_icon.png}" style="max-width: 100px;">
                            </div>
                            <div style="display:flex;padding:20px;">
                                <h3 style="font-size: 20px;font-weight: 800; color:#000000; font-family: fantasy;">
                                    Ataque:
                                    <span th:text="${pokemon.attack}" style="font-size: 20px;font-weight: 1000; color:#ed5959; font-family: fantasy; text-shadow: 2px 2px #000000;"></span>
                                    PTS
                                </h3>
                            </div>
                        </div>
                        <div style="display:flex; flex-direction: row; border-left: 15px solid #e72323; border-radius: 20px; padding: 10px; margin:10px; width: 450px">
                            <div style="background-color: #e72323;border-radius: 50%;">
                                <img th:src="@{/imgs/especial_attack_icon.png}" style="max-width: 100px;">
                            </div>
                            <div style="display:flex;padding:20px;">
                                <h3 style="font-size: 20px;font-weight: 800; color:#000000; font-family: fantasy;">
                                    Ataque especial:
                                    <span th:text="${pokemon.specialAttack}" style="font-size: 20px;font-weight: 1000; color:#e72323; font-family: fantasy; text-shadow: 2px 2px #000000;"></span>
                                    PTS
                                </h3>
                            </div>
                        </div>

                        <div style="display:flex; flex-direction: row; border-left: 15px solid #6cc9ff; border-radius: 20px; padding: 10px; margin:10px; width: 450px">
                            <div style="background-color: #6cc9ff;border-radius: 50%;">
                                <img th:src="@{/imgs/defence_icon.png}" style="max-width: 100px;">
                            </div>
                            <div style="display:flex;padding:20px;">
                                <h3 style="font-size: 20px;font-weight: 800; color:#000000; font-family: fantasy;">
                                    Defesa:
                                    <span th:text="${pokemon.defense}" style="font-size: 20px;font-weight: 1000; color:#6cc9ff; font-family: fantasy; text-shadow: 2px 2px #000000;"></span>
                                    PTS
                                </h3>
                            </div>
                        </div>

                        <div style="display:flex; flex-direction: row; border-left: 15px solid #01a0fd; border-radius: 20px; padding: 10px; margin:10px; width: 450px">
                            <div style="background-color: #01a0fd;border-radius: 50%;">
                                <img th:src="@{/imgs/especial_defence_icon.png}" style="max-width: 100px;">
                            </div>
                            <div style="display:flex;padding:20px;">
                                <h3 style="font-size: 20px;font-weight: 800; color:#000000; font-family: fantasy;">
                                    Defesa especial:
                                    <span th:text="${pokemon.specialDefense}" style="font-size: 20px;font-weight: 1000; color:#01a0fd; font-family: fantasy; text-shadow: 2px 2px #000000;"></span>
                                    PTS
                                </h3>
                            </div>
                        </div>
                        <div style="display:flex; flex-direction: row; border-left: 15px solid #f5ef25; border-radius: 20px; padding: 10px; margin:10px; width: 450px">

                            <div style="background-color: #f5ef25;border-radius: 50%;">
                                <img th:src="@{/imgs/speed_icon.png}" style="max-width: 100px;">
                            </div>
                            <div style="display:flex;padding:20px;">
                                <h3 style="font-size: 20px;font-weight: 800; color:#000000; font-family: fantasy;">
                                    Velocidade:
                                    <span th:text="${pokemon.speed}" style="font-size: 20px;font-weight: 1000; color:#f5ef25; font-family: fantasy; text-shadow: 2px 2px #000000;"></span>
                                    km/h
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
<footer>
    <div  style="display:flex; flex-direction: row; align-items: center; height: 250px; justify-content: center; background-color: #607848; border-radius: 20px; padding: 10px;border-left: 10px solid #d37719;border-right: 10px solid #d37719;" >

    </div>
</footer>
</body>
</html>